export EDITOR=vim

#editor configs
alias ez="$EDITOR ~/.zshrc"
alias ea="$EDITOR ~/.aliases.zsh"
alias el="$EDITOR ~/.local.zsh"
alias sz='exec zsh'
alias sa=". ~/.aliases"


alias t='touch'
alias md='mk dir'
alias rd='rm -rf'

#awsume
alias awsume=". awsume"


#aws-cli
alias aws-en="aws ec2 describe-instances --query \'Reservations[\*].Instances[\*].[Tags[\?Key==\`Name\`].Value[]]\' --output text"
alias aws-gci='aws sts get-caller-identity'
alias aws-gcip='aws stat get-caller-identity --profile '

#change repos
alias cd-infra="cd ~/github/infra"
alias cd-ans="cd ~/github/infra/ansible"
alias cd-tf="cd ~/github/infra/terraform"

#docker
alias dil='docker image ls '
alias dirm='docker image rm'
alias db='docker build -t'

#edit configs
alias ez="$EDITOR ~/.zshrc"
alias ea="$EDITOR ~/.alias.zsh"
alias el="$EDITOR ~/.local.zsh"
alias sz="exec zsh"

#git
alias g='git'
alias ga='git add'
alias gc='git clone'
alias gu='git unadd'
alias grb='git rebase'
alias gcp='git cherry-pick'
alias gca='git commit -v --amend'
alias gcm='git commit -m'
alias gempty="git commit --allow-empty -m 'empty'"
alias gpud='git pull upstream develop'
alias gpudr='git pull upstream develop --rebase'
alias gb='git branch'
alias gr='git remote -v'
alias gf='git fetch'
alias gfa='git fetch --all'
alias grau='git remote add upstream'
alias gco='git checkout'
alias gnew='git checkout -b'
alias gs='git status -sb'
alias gll='git log --stat'
alias gllp='git log --stat -p'

#terraform
alias tff='terraform fmt'
alias tfv='terraform validate'
alias tfi='terraform init'
alias tfp='terraform plan'
alias tfa='terraform apply'
alias tfs='terraform show'
alias tfsl='terraform state list'
alias tfig='terraform init -upgrade'
alias tfd='terraform destroy'
alias tfo='terraform output'

#tfenv
alias tfel='tfenv list'
alias tfeu='tfenv use'
alias tfei='tfenv install'

#linux networking commands
alias hns='host -t ns '

#urls
alias @down='open "https://downdetector.com/"'
alias @slackdown='open "https://status.slack.com"'

